@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"].</h2>
<h3>Autores</h3>

<address>
    Bruno Alves: <a href="mailto:brunorodalvs@gmail.com">brunorodalvs@gmail.com</a><br />
    Claudio Reis: <a href="mailto:claudio_reis_14@hotmail.com">claudio_reis_14@hotmail.com</a><br />
    Mauri Guedes: <a href="mailto:mauriguedes@gmail.com">mauriguedes@gmail.com</a><br />
    Matheus Louis: <a href="mailto:matheus.louis.souza@gmail.com">matheus.louis.souza@gmail.com</a><br />
    Thiago Melo: <a href="mailto:thiagodegan@gmail.com">thiagodegan@gmail.com</a><br />
</address>
