@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"].</h2>
<h3>Autores</h3>

<address>
    Bruno <a href="mailto:abc@abc.com.br">abc@abc.com.br</a><br />
    Claudio <a href="mailto:abc@abc.com.br">abc@abc.com.br</a><br />
    Mauri <a href="mailto:abc@abc.com.br">abc@abc.com.br</a><br />
    Thiago <a href="mailto:abc@abc.com.br">abc@abc.com.br</a><br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
