@{
	ViewData["Title"] = "Home Page";
}

<script src="~/js/home/index.js" type="text/javascript"></script>

<div class="row">
	<div class="col-xs-4 col-md-3 placeholder">
		<img class="img-responsive" alt="200x200" src="~/Images/200.png">
	</div>
	<div class="col-xs-12 col-md-9">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h2>Lorem ipsum...</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
					galley of type and scrambled it to make a type specimen book.
				</p>

				<p>
					<kendo-button name="PrimaryButton" tag="span" class="textButton k-primary">Primary Button</kendo-button>
				</p>
			</div>

			<div class="col-xs-12 col-md-4">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
					galley of type and scrambled it to make a type specimen book.
				</p>
				<p>
                    <kendo-button name="TextButton" tag="span" class="textButton">Button</kendo-button>
				</p>

			</div>
			<div class="col-xs-12 col-md-4">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
					galley of type and scrambled it to make a type specimen book.
				</p>

				<p>
                    <kendo-button name="Button" tag="span" class="textButton">Button</kendo-button>
				</p>

			</div>
		</div>
	</div>

</div>

<div class="row">
    <div class="containerCard">
        <div class="k-card">
            <div class="k-card-header">
                <h5 class="k-card-title">Filiais</h5>
            </div>
            <div class="k-card-body">
                <h6 class="k-card-subtitle">Quantidade de filiais com modelos treinados</h6>
                <p id="filiaisCount">0</p>
            </div>
        </div>
        <div class="k-card">
            <div class="k-card-header">
                <h5 class="k-card-title">Modelos</h5>
            </div>
            <div class="k-card-body">
                <h6 class="k-card-subtitle">Quantidade de modelos treinados</h6>
                <p id="modelosCount">0</p>
            </div>
        </div>
        <div class="k-card">
            <div class="k-card-header">
                <h5 class="k-card-title">RMSE</h5>
            </div>
            <div class="k-card-body">
                <h6 class="k-card-subtitle">RMSE m&eacute;dio dos modelos</h6>
                <p id="rmse">0</p>
            </div>
        </div>
    </div>
</div>
